@font-face {
    font-family: 'Determination';
    src: url('fontes/determination.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #0d0e15;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}